name: build

on:
  push:
  pull_request:
  schedule:
    - cron: '20 5 * * 1'
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-20.04

    strategy:
      fail-fast: false

      matrix:
        ruby-version:
          - 3.2.2
          - 3.1.4
          - 3.0.6
          - 2.7.2
          - 2.6.6
          - 2.5.8
          - jruby-9.2.14.0
          - truffleruby-21.0.0
        gemfile:
          - rails-7.0
          - rails-6.1
          - rails-6.0
          - rails-5.2
          - rails-5.1
          - rails-5.0
        exclude:
          - gemfile: rails-7.0
            ruby-version: 2.6.6
          - gemfile: rails-7.0
            ruby-version: 2.5.8
          - gemfile: rails-7.0
            ruby-version: jruby-9.2.14.0
          - gemfile: rails-7.0
            ruby-version: truffleruby-21.0.0

          - gemfile: rails-5.2
            ruby-version: 3.2.2
          - gemfile: rails-5.2
            ruby-version: 3.1.4
          - gemfile: rails-5.2
            ruby-version: 3.0.6

          - gemfile: rails-5.1
            ruby-version: 3.2.2
          - gemfile: rails-5.1
            ruby-version: 3.1.4
          - gemfile: rails-5.1
            ruby-version: 3.0.6

          - gemfile: rails-5.0
            ruby-version: 3.2.2
          - gemfile: rails-5.0
            ruby-version: 3.1.4
          - gemfile: rails-5.0
            ruby-version: 3.0.6

    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile
      RAILS_ENV: test

    steps:
      - uses: actions/checkout@v2

      - name: Selected Gemfile
        run: echo $BUNDLE_GEMFILE

      - name: Set up Ruby ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true

      - name: Run tests
        run: bundle exec rspec --format documentation
