name: build

on:
  pull_request:
  push:
    branches: [main]
  schedule:
    - cron: '20 5 * * 1'
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

      matrix:
        ruby-version:
          - "3"
          - "3.3"
          - "3.2"
          - "3.1"
          - "3.0"
          - "2.7"
          - "2.6"
          - "2.5"
          - "truffleruby"
        gemfile:
          - "rails-edge"
          - "rails-8.1"
          - "rails-8.0"
          - "rails-7.2"
          - "rails-7.1"
          - "rails-7.0"
          - "rails-6.1"
          - "rails-6.0"
          - "rails-5.2"
          - "rails-5.1"
          - "rails-5.0"
        exclude:
          - gemfile: "rails-edge"
            ruby-version: "3.1"
          - gemfile: "rails-edge"
            ruby-version: "3.0"
          - gemfile: "rails-edge"
            ruby-version: "2.7"
          - gemfile: "rails-edge"
            ruby-version: "2.6"
          - gemfile: "rails-edge"
            ruby-version: "2.5"

          - gemfile: "rails-8.1"
            ruby-version: "3.1"
          - gemfile: "rails-8.1"
            ruby-version: "3.0"
          - gemfile: "rails-8.1"
            ruby-version: "2.7"
          - gemfile: "rails-8.1"
            ruby-version: "2.6"
          - gemfile: "rails-8.1"
            ruby-version: "2.5"

          - gemfile: "rails-8.0"
            ruby-version: "3.1"
          - gemfile: "rails-8.0"
            ruby-version: "3.0"
          - gemfile: "rails-8.0"
            ruby-version: "2.7"
          - gemfile: "rails-8.0"
            ruby-version: "2.6"
          - gemfile: "rails-8.0"
            ruby-version: "2.5"

          - gemfile: "rails-7.2"
            ruby-version: "3.0"
          - gemfile: "rails-7.2"
            ruby-version: "2.7"
          - gemfile: "rails-7.2"
            ruby-version: "2.6"
          - gemfile: "rails-7.2"
            ruby-version: "2.5"
          
          - gemfile: "rails-7.1"
            ruby-version: "2.6"
          - gemfile: "rails-7.1"
            ruby-version: "2.5"

          - gemfile: "rails-7.0"
            ruby-version: "2.6"
          - gemfile: "rails-7.0"
            ruby-version: "2.5"

          - gemfile: "rails-5.2"
            ruby-version: "3"
          - gemfile: "rails-5.2"
            ruby-version: "3.3"
          - gemfile: "rails-5.2"
            ruby-version: "3.2"
          - gemfile: "rails-5.2"
            ruby-version: "3.1"
          - gemfile: "rails-5.2"
            ruby-version: "3.0"
          - gemfile: "rails-5.2"
            ruby-version: "truffleruby"

          - gemfile: "rails-5.1"
            ruby-version: "3"
          - gemfile: "rails-5.1"
            ruby-version: "3.3"
          - gemfile: "rails-5.1"
            ruby-version: "3.2"
          - gemfile: "rails-5.1"
            ruby-version: "3.1"
          - gemfile: "rails-5.1"
            ruby-version: "3.0"
          - gemfile: "rails-5.1"
            ruby-version: "truffleruby"

          - gemfile: "rails-5.0"
            ruby-version: "3"
          - gemfile: "rails-5.0"
            ruby-version: "3.3"
          - gemfile: "rails-5.0"
            ruby-version: "3.2"
          - gemfile: "rails-5.0"
            ruby-version: "3.1"
          - gemfile: "rails-5.0"
            ruby-version: "3.0"
          - gemfile: "rails-5.0"
            ruby-version: "truffleruby"

    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile
      RAILS_ENV: test

    steps:
      - uses: actions/checkout@v2

      - name: Selected Gemfile
        run: echo $BUNDLE_GEMFILE

      - name: Set up Ruby ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true

      - name: Run tests
        run: bundle exec rspec --format documentation
